.AddCourseWrapper {
    display: grid;
    place-items: center;

}

.AddCourse {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading h1 {
    font-size: 5rem;
    text-transform: capitalize;
}

.Headinghighlight {
    color: #2bb673;
}

.AddCourse form {
    padding: 3rem;
    width: 100%;
    margin: 0 auto;
}

.FormWrappper input,
.FormWrappper textarea {
    font-size: 1.5rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    width: 1100px;
}

.FormWrappper h1 {
    font-size: 1.5rem;
    margin-top: 20px;
}

.FormWrappper h1:first-child {
    margin-top: 0px;
}

.FormWrappper select {
    font-size: 1.5rem;
    border-radius: 5px;
    border: 2px solid black;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 1100px;
}

.FormWrappper input:focus,
.FormWrappper textarea:focus {
    background-color: #b9b9b9;
}



.FormWrappper button {
    cursor: pointer;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 2rem;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 0.6em 1.1em;
    gap: 0.4rem;
    font-weight: bold;
    background-color: #2bb673;
    border-radius: 10px;
    transition: all ease-in .2s;
    color: white;
    border: none;

}

.FormWrappper button:hover {
    color: #2bb673;
    background-color: white;
    border: 1px solid #2bb673;
}



.Spantwo {
    grid-column: 1 / span 2;
}


.ck {
    margin-bottom: 20px;
}

.ImageUpload {
    display: flex;
    width: 1100px;
}

.ImageUpload input {
    width: 70%;
}

.ImageUpload button {
    font-size: 1rem;
}

.Uplaod_Img {
    margin-top: 20px;
    width: 300px;
}