/*  Hero image */
.Training_header {
    margin: 0 auto;
    padding: 5rem;
    background-image: url(https://images.pexels.com/photos/2115217/pexels-photo-2115217.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-color: rgba(0, 0, 0, 0.85);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*  Duration and Career */
.Training_contents {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.Training_contents>* {
    margin-top: 20px;
    color: white;
}

.Training_header_sub h2:first-child {
    margin-right: 20px;
}



.Training_header h1 {
    font-size: 3rem;
}

.Training_header h2 {
    font-size: 1.7rem;
}

.training_header_btn {
    padding: 1rem;
}

.second {
    margin-left: 50px;
}

.training_header_btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    width: 70%;
}

.training_header_btn button {
    font-size: 1.5rem;
    padding: 1rem;
    width: fit-content;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease .5s;
}

.training_header_btn button:nth-child(1) {
    color: black;
    background-color: #f7d452;
    margin-right: 50px;
}

.training_header_btn button:nth-child(1):hover {
    background-color: #2bb673;
    color: white;
}

.Training_header_sub {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 60%;
}


.training_header_btn button a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    color: white;
}



.training_header_btn button {
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    transition: 0.2s background;
    gap: 0.6em;
    font-weight: bold;

}

.training_header_btn button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.training_header_btn button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

.training_header_btn button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

.training_header_btn button:hover {
    background-color: var(--hover-color);
}

.training_header_btn button:hover .arrow {
    background: var(--secondary-color);
}

.training_header_btn button:hover .arrow:before {
    right: 0;
}

/*  Course description and Syllabus  */

.Training_DescriptionWrapper {
    padding: 5rem;
}

.Training_Description,
.course_overview {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

/*  Ckeditor texts style */

.Description_Heading {
    width: fit-content;
    font-size: 3rem;
    color: #2bb673;
    text-transform: capitalize;
    font-weight: 800;
    border-bottom: 2px solid #2bb673;
    margin-bottom: 20px;
}

.course_overview_contents h1 {
    font-size: 2rem;
    /* text-align: justify; */
    line-height: 1.4em;
    margin: 5px 0;
}



.Training_Description h2,
.course_overview_contents h2 {
    font-size: 2rem;
    /* text-align: justify; */
    line-height: 1.4em;
    margin: 5px 0;
}

.Training_Description h3,
.course_overview_contents h3 {
    font-size: 1.7rem;
    /* text-align: justify; */
    line-height: 1.4em;
    margin: 5px 0;
    /* margin-left: 20px; */
}

.Training_Description p,
.course_overview_contents p {
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.3em;
    margin: 2px 0;
    padding-left: 10px;
}

.Training_Description ol,
.Training_Description ul,
.course_overview_contents ol,
.course_overview_contents ul {
    margin-left: 30px;
    text-align: justify;
}

.Training_Description ol li,
.Training_Description ul li,
.course_overview_contents ol li,
.course_overview_contents ul li {
    font-size: 1.5rem;
    text-align: justify;
}




.BannerHeading {
    background-color: #2bb673;
    color: white;
    margin: 20px auto;
    padding: 0 20px;
    border-radius: 10px;
    padding: 2px;

}

.BannerHeading h1 {
    font-size: 3rem;
    font-weight: 800;
}


@media screen and (max-width: 2126px) {
    .Training_header_sub {
        max-width: 75%;
    }
}

@media screen and (max-width: 1440px) {
    .Training_header {
        padding: 2rem;
    }

    .Training_header_sub {
        max-width: 85%;
    }

    .training_header_btn {

        width: 90%;
    }

    .Training_Description h1 {
        font-size: 2rem;
    }

    .Training_DescriptionWrapper {
        padding: .5rem;
        font-size: 1rem;
    }

    .Training_Description,
    .course_overview {
        width: 95%;
    }
}

@media screen and (max-width: 960px) {
    .Training_header {
        padding: 1rem;
    }

    .Training_contents {
        width: 95%;
        margin: 0 auto;
        padding: 20px;
    }

    .training_header_btn {
        width: 100%;
    }

    .Training_Description h1 {
        font-size: 2rem;
    }

    .Training_DescriptionWrapper {
        padding: .5rem;
        font-size: 1rem;
    }

    .Training_Description,
    .course_overview {
        width: 95%;
    }

}

@media screen and (max-width: 715px) {
    .Training_header {
        padding: .1rem;
    }


    .training_header_btn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
    }

    .training_header_btn button {
        font-size: 1.5rem;
        padding: 1rem;
        width: 200px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: all ease .5s;
        text-align: center;
    }

    .training_header_btn {
        width: 100%;
    }

    .Training_DescriptionWrapper {
        padding: .5rem;
        font-size: 1rem;
    }

    .Training_Description,
    .course_overview {
        width: 95%;
    }

    .Training_Description h1 {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 503px) {
    .Training_header {
        padding: .1rem;
    }


    .training_header_btn {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .training_header_btn button {
        font-size: 1.5rem;
        padding: 1rem;
        width: 200px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: all ease .5s;
        text-align: center;
    }

    .training_header_btn {
        width: 100%;
    }

    .Training_DescriptionWrapper {
        padding: .5rem;
        font-size: 1rem;
    }

    .Training_Description,
    .course_overview {
        width: 95%;
    }

    .Training_Description h1 {
        font-size: 2.2rem;
    }
}