:root {
    --buttonHover-bg: #0f5288;
}

a {
    color: black;
}

.Hero_Container {
    color: white;
}

.Hero {
    display: grid;
    grid-template-columns: 35% 65%;
}

.left {
    padding-top: 2rem;
    background-color: #0f5288;
    display: flex;
    flex-direction: column;
}



.left h1 {
    font-size: 3rem;
    margin-top: 150px;
    margin-left: 16px;
}

.left h2 {
    margin-top: 30px;
    text-align: left;
    margin-left: 16px;
}


.left button {
    font-size: 25px;
    width: fit-content;
    display: flex;
    padding: 0.5em 1.1em;
    gap: 0.4rem;
    font-weight: bold;
    border-radius: 20px;
    background: linear-gradient(109.6deg, rgb(255, 219, 47) 11.2%, rgb(244, 253, 0) 100.2%);
    background-position: left center;
    transition: background .3s ease;
    color: #fff;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 16px;
}


.left button:hover {
    transform: scale(1.01);
    background-size: 320%;
    background-position: right center;
}


.right {
    display: grid;
    grid-template-rows: 1fr 1fr;
}


@media screen and (max-width: 1470px) {
    .Hero .left h1 {
        margin: 10px 0;
        font-size: 2.5rem;
        padding: 1rem;
        text-align: left;
    }

    .Hero .left h2 {
        margin: 10px 0;
        font-size: 1.2rem;
        padding: 1rem;
        text-align: left;
    }
}

@media screen and (max-width: 1140px) {
    .Hero {
        grid-template-columns: 1fr;
        height: 80vh;
        grid-template-rows: .2fr 1fr;
    }



    .left button {
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 16px;
    }
}

@media screen and (max-width: 460px) {
    .Hero {
        grid-template-columns: 1fr;
        height: fit-content;
        grid-template-rows: 1fr;
    }

    .mid {
        display: none;
    }

    .left button {
        margin-bottom: 20px;
        margin-top: 10px;
        margin-left: 16px;
    }
}