.EnrollFormComp_Wrapper {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.form_Headings {
    padding: 2rem;
}

.form_Headings h1 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.Heading_hightlight {
    color: #2bb673;
}

.mandatory_hightlight {
    color: red;
    font-size: 1.5rem;
}

.Enrorll_FormWrappper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: calc(100vw - 30%);

}

.EnrollFormComp_Wrapper input {
    font-size: 1.5rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
}

.EnrollFormComp_Wrapper input:focus {
    background-color: #b9b9b9;
}

.Enrorll_FormWrappper button {
    cursor: pointer;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 2rem;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 0.6em 1.1em;
    gap: 0.4rem;
    font-weight: bold;
    background-color: #2bb673;
    border-radius: 10px;
    transition: all ease-in .2s;
    color: white;
    border: none;
}

.Enrorll_FormWrappper button:hover {
    color: #2bb673;
    background-color: white;
    border: 1px solid #2bb673;
}


.Enrorll_FormWrappper select {
    font-size: 1.5rem;
    border-radius: 5px;
    border: 2px solid black;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.SuccesFormSubmit_Message {
    padding: 11rem;
}

.SuccesFormSubmit_Message h1 {
    font-size: 1.5rem;
    text-align: justify;
    margin-top: 20px;
    font-weight: 500;
}

.SuccesFormSubmit_Message h1 a {
    color: #2bb673;
}

.err {

    padding: 1rem;
    background-color: green;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 20px;
    color: white;
    text-transform: capitalize;
}

@media(max-width:1600px) {
    .SuccesFormSubmit_Message {
        padding: 9rem;
    }
}

@media(max-width:1200px) {
    .SuccesFormSubmit_Message {
        padding: 7rem;
    }
}

@media(max-width:700px) {
    .SuccesFormSubmit_Message {
        padding: 5rem;
    }
}

@media(max-width:500px) {
    .SuccesFormSubmit_Message {
        padding: 1.5rem;
    }
}