:root {
    --navBar-background: #1d1d1d;
    --smallScreenNav-border: #e7e7e7;
    --hamburger-color: #e7e7e7;
    /* --hamburger-color: yellow; */
    --Linkcolor-hover: yellow;
}

a {
    text-decoration: none;
}


ul {
    list-style: none;
}

.header {
    background-color: var(--navBar-background);
    position: relative;
    padding: 20px;
}

.Navigation_Container {
    margin: auto;
}

.Links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.logo,
.nav {
    padding: 0 15px;
}

.nav ul li {
    display: inline-block;
    margin-left: 40px;
}

.nav ul li a:hover {
    color: var(--Linkcolor-hover)
}

.header #navCheck {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.navToggler {
    height: 34px;
    width: 44px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 15px;

}

.navToggler span {
    display: block;
    height: 2px;
    width: 20px;
    background-color: var(--hamburger-color);
    position: relative;
    transition: all .2s ease-in;
}

.navToggler span::before,
.navToggler span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--hamburger-color);
    left: 0;
    transition: all .2s ease-in;
}

.navToggler span::before {
    top: -6px;
}

.navToggler span::after {
    top: 6px;
}


.headerrlogo img {

    height: 60px;
    /* width: 200px; */
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;

}

@media(max-width: 1412px) {
    .navToggler {
        display: flex;
    }

    .header {
        z-index: 1;
    }

    .header .nav {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background-color: var(--navBar-background);
        border-top: 1px solid var(--smallScreenNav-border);
        border-bottom: 1px solid var(--smallScreenNav-border);
        opacity: 0;
        visibility: hidden;

    }

    .header .nav ul li {
        display: block;
        margin: 0;
    }

    .header #navCheck:checked~.nav {
        opacity: 1;
        visibility: visible;
    }


    .header #navCheck:checked~.navToggler span {
        background-color: transparent;
    }

    .header #navCheck:checked~.navToggler span::before {
        top: 0;
        transform: rotate(45deg);
        transition: all .2s ease-in;
    }

    .header #navCheck:checked~.navToggler span::after {
        top: 0;
        transform: rotate(-45deg);
        transition: all .2s ease-in;
    }

}