.EnrollFormComp_Wrapper {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form_Headings {
    padding: 2rem;
}

.form_Headings h1 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.Heading_hightlight {
    color: #2bb673;
}

.mandatory_hightlight {
    color: red;
    font-size: 1.5rem;
}

.Enrorll_FormWrappper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

.EnrollFormComp_Wrapper input,
.EnrollFormComp_Wrapper textarea {
    font-size: 1.5rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    width: 1100px;

}

.EnrollFormComp_Wrapper input:focus,
.EnrollFormComp_Wrapper textarea:focus {
    background-color: #b9b9b9;
}

.Enrorll_FormWrappper button {
    cursor: pointer;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 2rem;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 0.6em 1.1em;
    gap: 0.4rem;
    font-weight: bold;
    background-color: #2bb673;
    border-radius: 10px;
    transition: all ease-in .2s;
    color: white;
    border: none;
}

.Enrorll_FormWrappper button:hover {
    color: #2bb673;
    background-color: white;
    border: 1px solid #2bb673;
}


.Enrorll_FormWrappper select {
    font-size: 1.5rem;
    border-radius: 5px;
    border: 2px solid black;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 1100px;
}