.carousel {
    display: flex;
    justify-content: center;
    padding: 20px;

}

.carouselWrapper {
    position: relative;
    width: 1200px;
    height: 500px;
    padding: 10px;
    border-radius: 20px;

}

.cardImage {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
}

.cardText {
    padding-left: 20px;
    padding-right: 40px;
    width: 1100px;
    height: 500px;
    overflow-wrap: break-word;
}

.cardText h1 {
    padding: 1rem 0;
    font-size: 1.5rem;
    text-align: justify;
}

.cardText h2 {
    font-size: 1.2rem;
    text-align: justify;
    margin-left: 10px;
    color: #2bb673;
}



.carouselArrowLeft,
.carouselArrowRight {
    color: rgba(0, 0, 0, .3);
    position: absolute;
    font-size: 30px;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.carouselArrowLeft:hover,
.carouselArrowRight:hover {
    color: #2bb673;
}

.carouselArrowLeft {
    left: 15px;

}

.carouselArrowRight {
    right: 15px;
}

.carouselPagination {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -1%);
}


@media screen and (max-width: 1669px) {
    .carouselWrapper {
        height: 580px;
    }

    .cardImage {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 1200px) {
    .carouselWrapper {
        height: 600px;
    }

    .cardImage {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 860px) {
    .carouselWrapper {
        width: 860px;
        height: 650px;
    }

    .cardImage {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 720px) {
    .carouselWrapper {
        height: 680px;
    }

    .cardImage {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 658px) {
    .carouselWrapper {
        width: 658px;
        height: 700px;
    }

    .cardImage {
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 580px) {
    .carouselWrapper {
        height: 800px;
    }

    .cardImage {
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 510px) {
    .carouselWrapper {
        height: 800px;
        width: 510px;
    }

    .cardImage {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 465px) {
    .carouselWrapper {
        display: none;
    }
}