.AdminList h1 {
    font-size: 5rem;
    text-align: center;
    text-transform: capitalize;
    margin-top: 90px;
}

.HeadingHighlight {
    color: #0f5288;
}

.allAdminGrid {
    padding: 1rem;

}

.admin_Table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 10px;
}


.admin_Table h1 {
    font-size: 1.3rem;
    text-align: left;
    margin: 0;
    font-weight: 400;
}

.admin_Table_Heading {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 10px;
}


.admin_Table_Heading h1 {
    font-size: 1.8rem;
    text-align: left;
    margin: 0;
}

.admin_Table button {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    transition: color ease .2s;
}

.Edit_Btn:hover {
    color: green;
}

.Delete_Btn:hover {
    color: red;
}


.Delete_Btn:disabled,
.Edit_Btn:disabled {
    cursor: not-allowed;
}

.Delete_Btn:disabled:hover,
.Edit_Btn:disabled:hover {
    color: rgba(16, 16, 16, .3);
}

.new {
    cursor: pointer;
    margin: 0 auto;
    margin-top: 90px;
    font-size: 2rem;
    width: fit-content;
    display: flex;
    padding: 0.6em 1.1em;
    gap: 0.4rem;
    font-weight: bold;
    background-color: #0f5288;
    border-radius: 10px;
    transition: all ease-in .2s;
    color: white;
    border: none;
}

.new:hover {
    background-color: #0071e2;
    color: black;
}

.Skel {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.Training:first-child {
    margin-top: 50px;
}

.Skel .H1Div,
.H2Div {
    width: 90%;
    height: 39px;
    padding: 15px;
    background: linear-gradient(120deg,
            #e5e5e5 30%,
            #f0f0f0 38%,
            #f0f0f0 40%,
            #e5e5e5 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: Load 2s infinite;
    margin: 10px auto;
    border-radius: 20px;

}

@keyframes Load {
    100% {
        background-position: -100% 0;
    }
}

.popup {
    position: fixed;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -55%);
    height: 300px;
    width: 600px;
    background-color: rgb(43, 43, 43);
    display: grid;
    place-items: center;
    align-content: center;
    border-radius: 20px;
}

.popup h1 {
    margin-top: 0;
    font-size: 0;
}

.close_btn {
    position: absolute;
    top: 5px;
    right: 10px;
}

.close_btn button {
    font-size: 2rem;
    background-color: transparent;
    border-radius: 5px;
    border-top-right-radius: 20px;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    transition: all ease-in .2s;
}

.close_btn button:hover {
    color: red;
}

.contnets {
    display: grid;
    justify-items: center;
    padding: 1rem;
}

.contnets h1 {
    font-size: 2rem;
    color: rgba(255, 0, 0, 0.45);

}

.contnets h2 {
    font-size: 15px;
    color: white;
    opacity: .3;
}

.button_grid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 50%;
    justify-content: space-around;
}

.button_grid button {
    font-size: 1.4rem;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.button_grid .delete {
    background-color: rgba(255, 0, 0, 0.45);
    color: white;
    transition: all ease-in .2s;
}

.button_grid .delete:hover {
    color: rgba(255, 0, 0);
    background-color: white;
}

.button_grid .cancel {
    background-color: black;
    color: white;
    transition: all ease-in .2s;
}

.button_grid .cancel:hover {
    color: black;
    background-color: white;
}