.Testomonial h1 {
    font-size: 5rem;
    padding: 5rem;
    text-align: center;
}

.allCourseWrapper {
    display: grid;
    place-items: center;
}

.allCourseGrid {
    margin-top: 20px;
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
    transition: all ease 2s;
}

.AdminCourseCard {
    transition: transform ease .2s;
    display: grid;
    cursor: pointer;

}

.AdminCourseCard:hover {
    transform: scale3d(1.03, 1.03, 1.03);
}


.AdminCourseCard_Info img {
    height: 300px;
    border-radius: 20px;
}

.AdminCourseCard_Info h1 {
    font-size: 1.3rem;
    margin: 5px 0;
    padding: 0px;
    padding-left: 5px;
    text-align: left;

}

.AdminCourseCard_Info h2 {
    white-space: nowrap;
    overflow: hidden;
    font-size: 1rem;
    padding-right: 5px;
    text-align: right;
    text-overflow: ellipsis;
}

.Text_Ellipse * {
    width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.AdminCourseCard_Btn {
    margin-top: 10px;
    text-align: right;
}

.AdminCourseCard_Btn button {
    font-size: 1.8rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 20px;
    transition: color ease .2s;

}


.Edit_Btn:hover {
    color: green;
}

.Delete_Btn:hover {
    color: red;
}

.new {
    cursor: pointer;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 2rem;
    display: flex;
    padding: 0.6em 1.1em;
    gap: 0.4rem;
    font-weight: bold;
    background-color: #0f5288;
    border-radius: 10px;
    transition: all ease-in .2s;

    color: white;
    border: none;

}

.new:hover {
    background-color: #0071e2;
    color: black;
}

.popup {
    position: fixed;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -55%);
    height: 300px;
    width: 600px;
    /* background-color: #1d1d1d; */
    background-color: rgb(43, 43, 43);
    display: grid;
    place-items: center;
    align-content: center;
    border-radius: 20px;
}

.close_btn {
    position: absolute;
    top: 5px;
    right: 10px;
}

.close_btn button {
    font-size: 2rem;
    background-color: transparent;
    border-radius: 5px;
    border-top-right-radius: 20px;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    transition: all ease-in .2s;
}

.close_btn button:hover {
    color: red;
    /* background-color: white; */
}

.contnets {
    display: grid;
    justify-items: center;
    padding: 1rem;
}

.contnets h1 {
    color: rgba(255, 0, 0, 0.45);

}

.contnets h2 {
    font-size: 15px;
    color: white;
    opacity: .3;
}

.button_grid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 50%;
    justify-content: space-around;
}

.button_grid button {
    font-size: 1.4rem;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.button_grid .delete {
    background-color: rgba(255, 0, 0, 0.45);
    color: white;
    transition: all ease-in .3s;
}

.button_grid .delete:hover {
    color: rgba(255, 0, 0);
    background-color: white;
}

.button_grid .cancel {
    background-color: black;
    color: white;
    transition: all ease-in .3s;
}

.button_grid .cancel:hover {
    color: black;
    background-color: white;
}


.TrainingGrid {
    display: grid;
    grid-template-columns: repeat(4, 350px);
    column-gap: 20px;
    row-gap: 20px;
}

.Skel .imgDiv {
    width: 100%;
    height: 250px;
    background: linear-gradient(120deg,
            #e5e5e5 30%,
            #f0f0f0 38%,
            #f0f0f0 40%,
            #e5e5e5 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: Load 2s infinite;
    border-radius: 20px;
}

.Skel .H1Div,
.H2Div {
    width: 99%;
    height: 39px;
    padding: 15px;
    background: linear-gradient(120deg,
            #e5e5e5 30%,
            #f0f0f0 38%,
            #f0f0f0 40%,
            #e5e5e5 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: Load 2s infinite;
    margin: 10px auto;
    border-radius: 20px;

}

@keyframes Load {
    100% {
        background-position: -100% 0;
    }
}