.Team_Wrapper h1 {
    font-size: 5rem;
    text-align: center;
    padding: 3rem;
}

.HeadingHighlight {
    color: #0f5288;
}

.Team_Grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}

.Individual {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Individual img {
    width: 80%;
    height: 70%;
    border-radius: 10px;

}

.Individual h1 {
    font-size: 2rem;
    padding: 0;
    text-align: left;
    margin: 5px 0;
}

.Details_Grid {
    display: grid;
    width: 65%;
    grid-template-columns: 60% 40%;
}

.Details_Grid h2 {
    font-size: 1.5rem;
    margin-top: 0px;
}

.Social_Links {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    color: #0f5288;
    align-items: center;
    cursor: pointer;
}

.TrainingGrid {
    display: grid;
    padding: 5rem;
    /* min-height: 80vh; */

}

.SkelWrapper {
    display: grid;
    grid-template-columns: repeat(4, 400px);
    column-gap: 20px;
    row-gap: 20px;
}

.Skel .imgDiv {
    width: 100%;
    height: 250px;
    background: linear-gradient(120deg,
            #e5e5e5 30%,
            #f0f0f0 38%,
            #f0f0f0 40%,
            #e5e5e5 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: Load 2s infinite;
    border-radius: 20px;
}

.Skel .H1Div,
.H2Div {
    width: 99%;
    height: 39px;
    padding: 15px;
    background: linear-gradient(120deg,
            #e5e5e5 30%,
            #f0f0f0 38%,
            #f0f0f0 40%,
            #e5e5e5 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: Load 2s infinite;
    margin: 10px auto;
    border-radius: 20px;

}

@keyframes Load {
    100% {
        background-position: -100% 0;
    }
}


@media(max-width:1269px) {
    .Team_Wrapper {
        padding: 2rem;
    }

    .Team_Grid {
        display: grid;
        grid-template-columns: 1fr 1fr
    }

    .Details_Grid {
        width: 50%;
    }
}

@media(max-width:800px) {
    .Team_Wrapper {
        padding: 1.5rem;
    }

    .Team_Grid {
        display: grid;
        grid-template-columns: 1fr
    }

    .Details_Grid {
        width: 70%;
    }

    .Team_Wrapper h1 {
        font-size: 3rem;
        text-align: center;
        padding: 2rem;
    }
}