.MainHeading {
    text-align: center;
    font-size: 5rem;
    padding: 5rem;
    text-transform: capitalize;
}

.HeadingHighlight {
    color: #2bb673;
}



@media screen and (max-width: 1669px) {
    .MainHeading {
        font-size: 5rem;
        padding: 4rem;
    }
}

@media screen and (max-width: 1440px) {
    .TrainingGrid {
        grid-template-columns: repeat(3, 300px);
    }

}


@media screen and (max-width: 960px) {
    .TrainingGrid {
        grid-template-columns: repeat(2, 400px);
    }

    .MainHeading {
        font-size: 3rem;
        padding: 3rem;
    }

}


@media screen and (max-width: 840px) {
    .TrainingGrid {
        grid-template-columns: repeat(2, 300px);
    }



}

@media screen and (max-width: 669px) {
    .MainHeading {
        font-size: 3rem;
        padding: 2rem;
    }

}

@media screen and (max-width: 400px) {
    .MainHeading {
        display: none;
    }
}