.MainHeading {
    text-align: center;
    font-size: 5rem;
    padding: 5rem;
    text-transform: capitalize;
}

.HeadingHighlight {
    color: #2bb673;
}

@media screen and (max-width: 960px) {
    .MainHeading {
        font-size: 4rem;
        padding: 3rem;
    }
}

@media screen and (max-width: 669px) {
    .MainHeading {
        font-size: 3rem;
        padding: 2rem;
    }
}

@media screen and (max-width: 465px) {
    .MainHeading {
        display: none;
    }
}