* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

.Link_Text_Active {
    display: block;
    font-size: 1.5rem;
    padding: 10px 0;
    text-transform: capitalize;
    transition: all 0.2s ease;
    color: yellow;
}

.Link_Text_Unactive {
    display: block;
    font-size: 1.5rem;
    padding: 10px 0;
    color: #e7e7e7;
    text-transform: capitalize;
    transition: all 0.2s ease;
}

/* carousel  hero*/
.carousel_card {
    display: flex;
    flex: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: 0.5s ease-in-out;
}

.carousel_card-active {
    opacity: 1;
    transform: scale(1);
    pointer-events: visible;
}

.pagination_dot {
    position: relative;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    border: 2px solid #0f5288;

}

.pagination_dot-active {
    background-color: #0F5288;
    border: none;
    width: 30px;
    border-radius: 5rem;
}

/* Testomonial */
.Testicarousel_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex: 1; */
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: .5s ease-in-out;
    /* padding-bottom: 5rem; */
}


.Testicarousel_card-active {
    opacity: 1;
    transform: scale(1);
    pointer-events: visible;
    padding: 1rem;
}

.Testipagination_dot {
    position: relative;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    border: 2px solid #0f5288;
}

.Testipagination_dot-active {
    background-color: #0F5288;
    border: none;
    width: 30px;
    border-radius: 5rem;
}

.AdminDash-Active h1 {
    color: #0F5288;
}

.AdminDash-Inactive h1 {
    color: white;
}


.ck-editor__editable {
    min-height: 150px;
    max-width: 1100px;

}

/*  success board */
.successBoard,
.FailedBoard {
    position: fixed;
    top: 1;
    right: 0;
    padding: 1rem;
    background-color: green;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 20px;
    color: white;
    text-transform: capitalize;
}

.successBoard h1,
.FailedBoard h1 {
    font-size: 1rem;
}

.FailedBoard {
    background-color: red;
}